@media (max-width: 1450px) {
  .header-top {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .header-top__lang {
    margin-left: 20px;
  }

  .application__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .application__title {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 1280px) {

  .header-top__btn {
    margin-top: 20px;
    order: 2;
  }



  .header-banner__title {
    font-size: 95px;
    line-height: 100px;
  }

  .header-banner__sertification {
    margin-top: 0;
  }

  .application__more-items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .application__more-item {
    margin-bottom: 30px;
  }
}

@media (max-width: 1080px) {

  .header-top__phone {
    order: 1;
  }

  .header-banner {
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
  }

  .header-banner__title {
    text-align: center;
  }

  .header-banner__descr {
    justify-content: center;
  }

  .header-banner__sertification {
    margin-top: 50px;
  }

}

@media (max-width: 958px) {

  .header-top__phone {
    margin-top: 20px;
  }
}

@media (max-width: 872px) {
  .header-top__lang {
    margin-top: 20px;
    order: 3;
  }

  .header-banner__title {
    font-size: 80px;
    line-height: 85px;
  }

  .application__ttl {
    font-size: 100px;
    line-height: 110px;
  }
}

@media (max-width: 778px) {

  .header-top__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .header-top__item {
    margin-bottom: 15px;
  }

  .logo {
    order: 1;
  }

  .header-top__lang {
    order: 2;
    margin-top: 0;
  }

  .header-top__nav {
    order: 3;
    margin-top: 15px;
  }

  .header-top__phone {
    order: 4;
  }

  .header-top__btn {
    order: 5;
  }

  .header-banner__title {
    font-size: 60px;
    line-height: 70px;
  }

  .header-banner__sertification {
    font-size: 36px;
    line-height: 43px;
  }
}

@media (max-width: 640px) {
  .header-banner__title {
    font-size: 40px;
    line-height: 50px;
  }

  .header-banner__descr {
    margin-top: 20px;
  }

  .header-banner {
    // flex-direction: column;
  }

  .header-banner__sertification {
    max-width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
  }

  .header-banner__descr {
    flex-wrap: wrap;
    text-align: center;
  }

  .header-banner__btn {
    margin: 0 0 20px;
  }
}


@media (max-width: 560px) {
  .header-banner__sertification {
    display: none;
  }

  .application__inner {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
  }

  .application__title {
    margin-bottom: 30px;
  }

  .application__tasks {
    font-size: 35px;
    line-height: 40px;
  }

  .application__ttl {
    font-size: 75px;
    line-height: 80px;
  }
}

@media (max-width: 340px) {
  .header-top__nav {
    margin-top: 20px;
  }

  .header-top__list {
    flex-direction: column;
    text-align: center;
  }

  .header-top__item+.header-top__item {
    margin-left: 0;
  }

  .header-top__link {
    font-size: 20px;
  }

  .application__inner {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }

  .application__tasks {
    font-size: 30px;
    line-height: 35px;
  }

  .application__ttl {
    font-size: 55px;
    line-height: 65px;
  }
}

@media (max-width: 320px) {
  .header-top__lang-ico {
    width: 40px;
    height: 40px;
  }

}